.my-orders {
    margin: 50px 0px;
}

.my-orders .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-order {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
    gap: 30px;
    font-size: 14px;
    padding: 10px 20px;
    color: #454545;
    border: 1px solid tomato;
}

.my-orders-order img {
    width: 50px;
}

.my-orders-order p span {
    color: tomato;
}

.my-orders-order p b {
    font-weight: 500;
    color: #454545;
}

.my-orders-order button {
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #ffe1e1;
    cursor: pointer;
    color: #454545;
}


@media (max-width: 900px) {

    .my-orders-order {
        grid-template-columns: 1fr 1fr; 
        gap: 10px;
        padding: 15px;
        font-size: 12px;
    }

    .my-orders-order img {
        width: 40px;
    }

    /* Make all long columns span full width for readability */
    .my-orders-order p:nth-child(2),
    .my-orders-order p:nth-child(3),
    .my-orders-order p:nth-child(4),
    .my-orders-order p:nth-child(5),
    .my-orders-order button {
        grid-column: span 2;
        text-align: left;
    }

    .my-orders-order button {
        font-size: 12px;
        padding: 10px;
        width: 100%;
    }
}
