.header {
  height: 34vw;
  margin: 30px auto;
  background: url("./hero.jpg") no-repeat;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5vw;
  max-width: 50%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 3s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}

.header-content p {
  color: white;
  font-size: 1vw;
}

.header-content button {
  background-color: white;
  color: #747474;
  border: none;
  font-weight: 500;
  padding: 1vw 2.3vw;
  border-radius: 50px;
  font-size: max(1vw, 13px);
  cursor: pointer;
}

/* Tablet */
@media (max-width: 1050px) {
  .header-content {
    max-width: 45%;
  }
}

/* Mobile */
@media (max-width: 750px) {
  .header {
    height: auto;
    padding: 40px 0;
  }

  .header-content {
    position: static;
    max-width: 90%;
    margin: auto;
    text-align: left;
  }

  .header-content p {
    display: none;
  }

  .header-content h2 {
    font-size: 28px;
  }

  .header-content button {
    padding: 12px 24px;
    font-size: 16px;
  }
}
