.food-item {
   width: 100%;
   margin: auto;
   border-radius: 15px;
   box-shadow: 0px 0px 10px #00000015;
   transition: 0.3s;
   animation: fadeIn 1s;
   display: flex;
   flex-direction: column;
   height: 490px;
} 

.food-item-image {
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
    max-height: 350px;
    object-fit: cover;
}

.star {
    color: tomato;
}

.food-item-info {
    padding: 20px;
    flex-grow: 1;
    overflow: hidden;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 20px;
    font-weight: 500;
}

.food-item-desc {
    color: #676767;
    font-size: 13px;
}

.food-item-price {
    color: tomato;
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px;
}

.food-item-img-container {
    position: relative;
}

.food-item-img-container .add {
   position: absolute;
   bottom: 15px;
   right: 15px;
   cursor: pointer;
   background-color: white;
   font-weight: 600;
   padding: 10px;
   border-radius: 50%;
   display: inline-block;
   line-height: 1;
}

.food-item-counter {
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50px;
    background-color: white;
}